{% extends "layout.html" %}
{% block title %}Burst Trigger L3{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center">Supernova Burst Trigger - Level 3</h2>
            <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Search:
                      </div>
                      <div class="panel-body">
                          <form class="form-horizontal" role="form" method="get" action="{{ url_for("burst_l3") }}" onsubmit="return validate_form()">
                              <div class="form-group form-group-sm">
                                  <label class="col-sm-2 control-label">
                                      Search by:
                                  </label>
                                  <div class="col-sm-2">
                                      <select id="search-by" name="search" class="form-control" onchange="update_search()">
                                          <option value="run">Run</option>
                                          <option value="gtid">GTID</option>
                                          <option value="date">Date</option>
                                      </select>
                                  </div>
                                  <label class="col-sm-1 control-label">
                                      Start
                                  </label>
                                  <div class="col-sm-2">
                                      <input name="start"
                                       id="start"
                                       type="number"
                                       min=0
                                       class="form-control">
                                  </div>
                                  <label class="col-sm-1 control-label">
                                      End
                                  </label>
                                  <div class="col-sm-2">
                                      <input name="end"
                                       id="end"
                                       type="number"
                                       min=0
                                       class="form-control">
                                  </div>
                                  <div class="col-sm-2">
                                      <input type="submit" value="Go"></input>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">Final alarm threshold</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="25%">High: NHit</th>
                                <th width="25%">High: Events</th>
                                <th width="25%">High: Surviving percentage</th>
                            </tr>
                        </thead>
                            <tr>
                                <td id="high" width="25%"> 9 </td>
                                <td id="highEvs" width="25%"> 10 </td>
                                <td id="highSurv" width="25%"> 11 </td>
                            </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <h3>Details</h3>
              <a href="https://www.snolab.ca/snoplus/private/DocDB/cgi/ShowDocument?docid=6976">Supernova Shift Instructions</a> <br>
              <a href="https://www.snolab.ca/snoplus/private/DocDB/cgi/ShowDocument?docid=6839">Burst ZOO</a> <br> <br>
              <font size="-1"><b>SH End:</b> 0=normal, 1=end of file reached, 2=events out of order, 3=too long, 4=clock jumps</font> <br>
              <font size="-1"><b>Check:</b> 0=not checked, 1=checked by algorithm, 2=checked by person</font>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">Run</th>
                        <th style="text-align: center; vertical-align: middle;">SubRun</th>
                        <th style="text-align: center; vertical-align: middle;">Burst</th>
                        <th style="text-align: center; vertical-align: middle;">Date</th>
                        <th style="text-align: center; vertical-align: middle;">Time</th>
                        <th style="text-align: center; vertical-align: middle;"># Events</th>
                        <th style="text-align: center; vertical-align: middle;">Clean events</th>
                        <th style="text-align: center; vertical-align: middle;">High NHit</th>
                        <th style="text-align: center; vertical-align: middle;">Survived</th>
                        <th style="text-align: center; vertical-align: middle;">Length [s]</th>
                        <th style="text-align: center; vertical-align: middle;">NHit(avg)</th>
                        <th style="text-align: center; vertical-align: middle;">SH End</th>
                        <th style="text-align: center; vertical-align: middle;">Check</th>
                        <th style="text-align: center; vertical-align: middle;">Note</th>
                    </tr>
                </thead>
                <tbody>
                  {% for run in data %}
                  <tr>
                      <td style="text-align: center; vertical-align: middle;"><a href="{{ url_for('burst_run_detail_l3', run_number=run['run'], subrun=run['subrun'], sub=run['burst_n']) }}">{{ run['run'] }}</a></td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["subrun"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["burst_n"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["date"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["time"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["total_events"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["burst_size_clean"] }} &nbsp; <span style="color:red">{{ '%0.2f' % (run["burst_size_clean"]/run["total_events"]*100) }}%</span></td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["total_highEv"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["clean_highEv"] }} &nbsp;
                        {% if ( run["total_highEv"] > 0 ) %}
                          <span style="color:red">{{ '%0.2f' % (run["clean_highEv"]/run["total_highEv"]*100) }}%</span></td>
                        {% else %}
                          <span style="color:red">0%</span></td>
                        {% endif %}
                      <td style="text-align: center; vertical-align: middle;">{{ run["burst_length_clean"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["avg_nhit_clean"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["c_flag"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["checked"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["summary"] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% if ( (offset > limit-1) and (search != null) ) %}
              <a href="{{ url_for("burst_l3", offset=offset-limit, limit=limit, search=search, start=start, end=end) }}">Back</a>
            {% elif (offset > limit-1) %}
              <a href="{{ url_for("burst_l3", offset=offset-limit, limit=limit) }}">Back</a>
            {% endif %}
            {% if ( (total > offset + limit) and (search != null) ) %}
              <a href="{{ url_for("burst_l3", offset=offset+limit, limit=limit, search=search, start=start, end=end) }}">Next</a>
            {% elif (total > offset + limit) %}
              <a href="{{ url_for("burst_l3", offset=offset+limit, limit=limit) }}">Next</a>
            {% endif %}
        </div>
      </div>
    </div>


{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/burst.js') }}"></script>
    <script> window.onload = function() {fill_boxes();};</script>
    <script src="{{ url_for('static', filename='js/l3.js') }}"></script>
    <script>
        get_SH_settings(20);
    </script>
{% endblock %}
