{% extends "layout.html" %}
{% block title %}Burst Trigger L2{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center">Supernova Burst Trigger - Level 2</h2>
            <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Search:
                      </div>
                      <div class="panel-body">
                          <form class="form-horizontal" role="form" method="get" action="{{ url_for("burst") }}" onsubmit="return validate_form()">
                              <div class="form-group form-group-sm">
                                  <label class="col-sm-2 control-label">
                                      Search by:
                                  </label>
                                  <div class="col-sm-2">
                                      <select id="search-by" name="search" class="form-control" onchange="update_search()">
                                          <option value="run">Run</option>
                                          <option value="gtid">GTID</option>
                                          <option value="date">Date</option>
                                      </select>
                                  </div>
                                  <label class="col-sm-1 control-label">
                                      Start
                                  </label>
                                  <div class="col-sm-2">
                                      <input name="start"
                                       id="start"
                                       type="number"
                                       min=0
                                       class="form-control">
                                  </div>
                                  <label class="col-sm-1 control-label">
                                      End
                                  </label>
                                  <div class="col-sm-2">
                                      <input name="end"
                                       id="end"
                                       type="number"
                                       min=0
                                       class="form-control">
                                  </div>
                                  <div class="col-sm-2">
                                      <input type="submit" value="Go"></input>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                </div>
            </div>

            <h3>Details</h3>
              <a href="https://www.snolab.ca/snoplus/private/DocDB/cgi/ShowDocument?docid=6976">Supernova Shift Instructions</a> <br>
              <a href="https://www.snolab.ca/snoplus/private/DocDB/cgi/ShowDocument?docid=6839">Burst ZOO</a> <br> <br>
              <font size="-1"><b>SH End:</b> 0=normal, 1=end of file reached, 2=events out of order, 3=too long, 4=clock jumps</font>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;">Run</th>
                        <th style="text-align: center; vertical-align: middle;">SubRun</th>
                        <th style="text-align: center; vertical-align: middle;">Burst</th>
                        <th style="text-align: center; vertical-align: middle;">Date</th>
                        <th style="text-align: center; vertical-align: middle;">Time</th>
                        <th style="text-align: center; vertical-align: middle;"># Events</th>
                        <th style="text-align: center; vertical-align: middle;">Length [s]</th>
                        <th style="text-align: center; vertical-align: middle;">NHit(avg)</th>
                        <th style="text-align: center; vertical-align: middle;">GTID range</th>
                        <th style="text-align: center; vertical-align: middle;">Buffer</th>
                        <th style="text-align: center; vertical-align: middle;">SH 3Evt</th>
                        <th style="text-align: center; vertical-align: middle;">SH 5Evt</th>
                        <th style="text-align: center; vertical-align: middle;">SH 7Evt</th>
                        <th style="text-align: center; vertical-align: middle;">SH 10Evt</th>
                        <th style="text-align: center; vertical-align: middle;">SH End</th>
                    </tr>
                </thead>
                <tbody>
                  {% for run in data %}
                  <tr>
                      <td style="text-align: center; vertical-align: middle;"><a href="{{ url_for('burst_run_detail', run_number=run['run'], subrun=run['subrun'], sub=run['burst_n']) }}">{{ run['run'] }}</a></td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["subrun"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["burst_n"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["date"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["time"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["burst_size"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["burst_length"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["avg_nhit"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{ run["firstGTID"] }} - {{ run["lastGTID"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["c_buffer"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["c_nhit3"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["c_nhit5"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["c_nhit7"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["c_nhit10"] }}</td>
                      <td style="text-align: center; vertical-align: middle;">{{  run["c_flag"] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% if ( (offset > limit-1) and (search != null) ) %}
              <a href="{{ url_for("burst", offset=offset-limit, limit=limit, search=search, start=start, end=end) }}">Back</a>
            {% elif (offset > limit-1) %}
              <a href="{{ url_for("burst", offset=offset-limit, limit=limit) }}">Back</a>
            {% endif %}
            {% if ( (total > offset + limit) and (search != null) ) %}
              <a href="{{ url_for("burst", offset=offset+limit, limit=limit, search=search, start=start, end=end) }}">Next</a>
            {% elif (total > offset + limit) %}
              <a href="{{ url_for("burst", offset=offset+limit, limit=limit) }}">Next</a>
            {% endif %}
        </div>
      </div>
    </div>


{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/burst.js') }}"></script>
    <script> window.onload = function() {fill_boxes();};</script>
{% endblock %}
