{% extends "layout.html" %}
{% block title %}Crate Gain{% endblock %}
{% block head %}
<style>
.chart {

}
.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 8px;
}
circle {
    fill: steelblue;
}
h4 {
    display: inline;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 100px;                  
  height: 24px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
</style>
<script>
    (function () {
        window.data = {{ data|safe }}; 
    }());
</script>
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4> Crate </h4>
            <select id="crate-sel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
            <h4> Run range: </h4>
            <input type="text" id="starting_run" value={{starting_run}} style="width:80px;">
            <h4> - </h4>
            <input type="text" id="ending_run" value={{ending_run}} style="width:80px;">
            <h4> QHS peak range: </h4>
            <input type="text" id="qhs_low" value={{qhs_low}} style="width:80px;">
            <h4> - </h4>
            <input type="text" id="qhs_high" value={{qhs_high}} style="width:80px;">
            <button type=button onclick="history();">Update Plot</button>
        </div>
    </div>
    <h1> </h1>
    <div class="row">
        <div class="col-md-12" id="main">
            {% if not data %}
                <h2 align="left"> No data available or no data in QHS range. Try adjusting run range or QHS peak range. </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatter_plot_gains.js') }}"></script>
    <script>
        if (url_params.crate) {
            document.getElementById("crate-sel").value = url_params.crate;
        }
        if (url_params.starting_run) {
            document.getElementById("starting_run").value = url_params.starting_run;
        }
        if (url_params.ending_run) {
            document.getElementById("ending_run").value = url_params.ending_run;
        }

        draw_scatter_plot_gains();
    </script>
{% endblock %}
