{% extends "layout.html" %}
{% block title %}Crate Gain Monitor{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    .btn1 {
        background-color: #FFD700;
        padding: 6px 6px;
        text-align: center;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .btn2 {
        background-color: #228B22;
        padding: 6px 6px;
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }
  </style>
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <h2 align="left">Information For the User</h2>
    <table class="table table-hover">
      <tr> <th> Monitor of the PMT gains by crate. The PMT QHS distribtions are created for events with greater than 15 NHit and don't trigger ESUMH (to skip flashers and shark fins). Only hits that pass the PMTCal selector are included in the distributions. The QHS distributions are separated by crate and the peak is fit with a Gaussian. The mean of that fit is taken as the peak of the distribution and is displayed below for each run and crate. The QHS histograms for each crate are available by clicking on the associated run number. <th> <tr>
      <tr class="success"> <th> The peak of the QHS distribution falls within 15 - 30 ADC Counts. Note the uncertainties for an hour long physics run are typically around 0.5 ADC counts. </th> </tr>
      <tr class="danger"> <th> The peak of the QHS distribution falls outside 15 - 30 ADC Counts. </th> </tr>
      <tr class="warning"> <th> The peak of the QHS distribution falls 3 sigma outside the mean of the QHS distributions from the last 100 runs. </th>
  </table>
</div>

<div class="page-header">
  <h1 align="center">Crate Gain Monitor</h1>
</div>

<div class="container">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th> Limit: </th>
        <th> Select Run: </th>
        <th> Run Range: </th>
        <th> </th>
      </tr>
      <tr>
        <th> <select id="limit" onchange="get_limit(this.value, 0, 0, 0, {{gold}});">
               {% if selected_run != 0 or run_range_high != 0 %}
                 <option selected value="-">-</option>
               {% else %}
                 <option selected value="{{limit}}">{{limit}}</option>
               {% endif %}
               {% for n in [10, 25, 50, 100, 500] %}
                 {% if n != limit %}
                   <option value="{{n}}">{{n}}</option>
                 {% endif %}
               {% endfor %}
             </select> </th>

        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="run" value={{selected_run}} onKeyDown="if(event.keyCode==13) get_limit(0, this.value, 0, 0, {{gold}});"></input> </th>
        <th> <input style="margin-bottom: 30px; width: 80px;" type="text" id="low" value={{run_range_low}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, this.value, high.value, {{gold}});"></input>
             - <input style="margin-bottom: 30px; width: 80px;" type="text" id="high" value={{run_range_high}} onKeyDown="if(event.keyCode==13) get_limit(0, 0, low.value, this.value, {{gold}});"></input> </th>
        {% if not gold %}
          <th> <button type="submit" class="btn1" onclick="get_limit(limit.value, run.value, low.value, high.value, 1)">Show Only Gold Runs</button> </th>
        {% else %}
          <th> <button type="submit" class="btn2" onclick="get_limit(limit.value, run.value, low.value, high.value, 0)">Show All Runs</button> </th>
        {% endif %}
      </tr>
    </table>

    <table class="table table-hover">
      <thead>
        <tr> 
          <th> Run </th>
        </tr>
      </thead>
      {% if runs %}
        {% for run in runs %}
          <tr>
            <th> <a href="{{url_for('crate_gain_monitor_by_run',run_number=run)}}">{{run}}</a> </th>
            <th> Crates: </th>
            {% for crate in range(19) %}
              <th> <a href="{{ url_for("crate_gain_history", crate=crate, starting_run=(run-100), ending_run=run) }}">{{crate}}</a></th>
            {% endfor %}
          </tr>
          <tr>
            <th> </th>
            <th> QHS Peak </th>
            {% for crate in range(19) %}
              {% if crate in crate_array[run] %} 
                {% if crate_qhs[(run,crate)][0] < 15 or crate_qhs[(run,crate)][0] > 30 %}
                  <th class="danger"> {{ crate_qhs[(run,crate)][0] }} </th>
                {% elif qhs_change[(run, crate)] == 1 %}
                  <th class="warning"> {{ crate_qhs[(run,crate)][0] }} </th>
                {% else %} 
                  <th class="success"> {{ crate_qhs[(run,crate)][0] }} </th>
                {% endif %}
              {% else %} 
                <th> - </th>
              {% endif%}
            {% endfor %}
          </tr>
        {% endfor %}
      {% else %}
        <th> No data found </th>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    function get_limit(limit, run, low, high, gold){
      params = {};
      params["limit"] = limit;
      params["run"] = run;
      params["run_range_low"] = low;
      params["run_range_high"] = high;
      params["gold_runs"] = gold;
      window.location.replace($SCRIPT_ROOT + "/crate_gain_monitor?" + $.param(params));
    }
  </script>
{% endblock %}

