{% extends "layout.html" %}
{% block title %} Crate Gain Monitor by Run {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <h1 align="center">Run {{run_number}}</h1>

  <div class="row">
    {% for crate in range(19) %}
      <img src="{{ url_for('static', filename='gain_monitor/run'+run_number+'/crate'+crate|string+'.png') }}"
           alt="Crate {{crate}} QHS" class="img-responsive col-md-6"></img>
    {% endfor %}
  </div>
</div>

{% endblock %}
