{% extends "layout.html" %}
{% block title %} RAT {% endblock %}
{% block head %}
{{ super() }}

<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>

{% endblock %}

{% block body %}
   {{ super() }}
<!-- The Run Title and nav buttons-->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <center>
      <ul class="pager">
        <li class="previous"><a href="{{ url_for('cssProcIndy', run_number= info.getNextStandRun()) }}">Prev</a></li>
        <li><h2 style="display:inline"> Run {{ run }} </h2></li>
        <li class="next"><a href="{{ url_for('cssProcIndy', run_number= info.getLastStandRun()) }}">Next</a></li>
      </ul>
    </center>
    </div>
  </div>
  <h3>High Occupancy </h3>
  <div>
    <table id='highOccTable' class='table table-hover text-centered'>
      <thead><tr><th>Test</th><th>Value</th></tr></thead>
      <tbody>
        {% for key, value in info.highOccTests.items() %}
        <tr>
          <td>{{ key }}</td><td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <img src="{{ url_for('static', filename='cssProc/highOccPlot_'+run|string+'_log.png') }}" class="img-responsive" alt="High Occupancy Log">
      </div>
      <div class="col-lg-6">
        <img src="{{ url_for('static', filename='cssProc/highOccComparison_'+run|string+'_log.png') }}" class="img-responsive" alt="High Occupancy Log">
      </div>
    </div>
  </div>
  <h3>Low Occupancy </h3>
    <div>

      <table id='lowOccTable' class='table table-hover text-centered'>
        <thead><tr><th>Test</th><th>Value</th></tr></thead>
        <tbody>
          {% for key, value in info.lowOccTests.items() %}
          <tr>
            <td>{{ key }}</td><td>{{ value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='cssProc/lowOccPlot_'+run|string+'_log.png') }}" class="img-responsive" alt="High Occupancy Log">
            </div>
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='cssProc/lowOccComparison_'+run|string+'_log.png') }}" class="img-responsive" alt="High Occupancy Log">
            </div>
        </div>
    </div>

{% endblock %}
