{% extends "layout.html" %}
{% block title %} Deck and DCR Activity  {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <div class="row">
    <h2 align="center">Deck and DCR Activity</h2>
    Limit: 
    <select id="limit" onchange="get_limit(this.value);">
      <option selected value="{{limit}}">{{limit}}</option>
      {% for n in [10, 25, 50, 100, 500] %}
        {% if n != limit %}
          <option value="{{n}}">{{n}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <p class="text-right">
        {% if offset > 0 %}
        <a href="{{ url_for("deck_activity", limit=limit, offset=offset-limit) }}">Back</a>
        {% endif %}
        <a href="{{ url_for("deck_activity", limit=limit, offset=offset+limit) }}">Next</a>
    </p>
    <table class="table table-hover">
    <tr>
      <th> Check-in Time </th>
      <th> Check-out Time </th>
      <th> Check-in Run </th>
      <th> Check-out Run </th>
      <th> Name </th>
      <th> Reason </th>
    </tr>
    {% for a in act %}
        <th> {{ a['checkintime'].strftime("%m/%d/%Y %H:%M:%S") }} </th>
        {% if a['checkouttime'] != None %}
            <th> {{ a['checkouttime'].strftime("%m/%d/%Y %H:%M:%S") }} </th>
        {% else %}
            <th> </th>
        {% endif %}
        <th> {{ a['checkinrun'] }} </th>
        <th> {{ a['checkoutrun'] }} </th>
        <th> {{ a['firstname'] }} {{ a['lastname'] }} </th>
        <th> {{ a['reason'] }} </th>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    function get_limit(limit){
      params = {};
      params['limit'] = limit;
      window.location.replace($SCRIPT_ROOT + '/deck_activity?' + $.param(params));
    }
  </script>
{% endblock %}

