{% extends "layout.html" %}
{% block title %}L2{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .axis path {
            display: none;
        }

        #main {
            margin-bottom: 30px;
        }

        .horizon .title,
        .horizon .value {
            line-height: {{ height }}px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">Supernova Burst Trigger - Level 2</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12" style="text-align: center">
                    Level 2 is responsible for the immediate analysis of the bursts created by Stonehenge software.<br>
                    The bursts are created "in real-time" looking at the data written by the builder.<br>
                    There are 4 logical buffers that can trigger a burst.<br>
                    The detector activity is monitored and the thresholds can be adjusted dynamically.<br><br>
                    <i>The main idea is to monitor high NHit bursts of events in order to "catch" a Supernova with minimal latency.</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
                <select id="step-menu">
                    {% for i, text in [(1,"15 min"), (4, "1 hour"), (8, "3 hours"), (32, "9 hours"), (128, "1 day"), (256, "3 days"), (1024, "1 week"), (2048, "1 month"), (8192, "3 months"), (32768, "1 year"), (262144, "10 years")] %}
                        <option {% if step == i %}selected="selected" {% endif %}value="{{ i }}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding:0" id="main"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">Dynamic threshold</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="{{ url_for('static', filename="bursts/dyn_nhit.png") }}" alt="Dynamic threshold plot" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">Stonehenge settings</h3>
              </div>
              <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="12.5%">3Evt [NHit]</th>
                            <th width="12.5%">5Evt [NHit]</th>
                            <th width="12.5%">7Evt [NHit]</th>
                            <th width="12.5%">10Evt [NHit]</th>
                            <th width="12.5%">Window [s]</th>
                            <th width="12.5%">Pre [s]</th>
                            <th width="12.5%">Post [s]</th>
                            <th width="12.5%">Ext [s]</th>
                        </tr>
                    </thead>
                        <tr>
                            <td id="3Evt"> 1 </td>
                            <td id="5Evt"> 2 </td>
                            <td id="7Evt"> 3 </td>
                            <td id="10Evt"> 4 </td>
                            <td id="window"> 5 </td>
                            <td id="pre"> 6 </td>
                            <td id="post"> 7 </td>
                            <td id="ext"> 8 </td>
                        </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            {% for id, caption in states %}
                {% if not loop.first and loop.index0 % 3 == 0 %}
                    <!-- add new row -->
                    </div><div class="row">
                {% endif %}
                <div class="col-md-4">
                    <table class="table table-hover" id="{{ id }}">
                        <thead>
                            <tr>
                                <th style="width:60%">{{ caption }}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% set states = [("process", "Being Processed"), ("wait", "Waiting for RAT"), ("rat", "RAT"), ("done", "Done"), ("fail", "Failed")] %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cubism.v1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/l2.js') }}"></script>
    <script>
        {% for name, _ in states %}
            update_files("{{ name }}", 20);
        {% endfor %}
    </script>
    <script>
        get_SH_settings(20);
    </script>
{% endblock %}
