{% extends "layout.html" %}
{% block title %}PMT noise{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div id="noise-graph"></div>
                <div id="hhp-graph"></div>
            </div>
            <div class="col-md-2">
                <div id="checkboxes"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    <a id='backlink' href='{{ url_for("noise", limit=limit, offset=offset+limit) }}'>Back</a>
                    {% if offset > 0 %}
                    <a id='nextlink' href='{{ url_for("noise", limit=limit, offset=offset-limit) }}'>Next</a>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Run Number</th>
                            <th>Run Time</th>
                            <th>Average noise (Hz)</th>
                            <th>Average QHL HHP (cap)</th>
                            <th>NHit (raw)</th>
                            <th>NHit (normal/HQE 50Hz-50kHz)</th>
                            <th>NHit (normal/HQE N20/N100 enabled)</th>
                            <th>PGT Count</th>
                            <th>Online PMTs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for run in runs if run %}
                        {% if "n_pgt" in run and run["n_pgt"]|int() > 10000 %}
                        <tr class="info">
                        {% else %}
                        <tr>
                        {% endif %}
                        <td><a href="{{ url_for('noise_run_detail',run_number = run['run_number']) }}">{{ run["run_number"] }}</a></td>
                        <td>{{ run["timestamp"].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                        <td>{{ "%.0f" % (run["average_noiserate"]|float) }}</td>
                        {% if "average_qhl_hhp" in run %}
                        <td>{{ "%.1f" % (run["average_qhl_hhp"]|float) }}</td>
                        {% else %}
                        <td>{{ "-" }}</td>
                        {% endif %}
                        {% if "average_nhit_raw" in run %}
                        <td>{{ "%.1f" % (run["average_nhit_raw"]|float) }}</td>
                        {% else %}
                        <td>{{ "-" }}</td>
                        {% endif %}
                        {% if "average_nhit_normal" in run %}
                        <td>{{ "%.1f" % (run["average_nhit_normal"]|float) }}</td>
                        {% else %}
                        <td>{{ "-" }}</td>
                        {% endif %}
                        {% if "average_nhit_trigenabled" in run %}
                        <td>{{ "%.1f" % (run["average_nhit_trigenabled"]|float) }}</td>
                        {% else %}
                        <td>{{ "-" }}</td>
                        {% endif %}
                        {% if "n_pgt" in run %}
                        <td>{{ "%.0f" % (run["n_pgt"]|float) }}</td>
                        {% else %}
                        <td>{{ "-" }}</td>
                        {% endif %}
                        {% if "online_pmt" in run %}
                        <td>{{ "%.0f" % (run["online_pmt"]|float) }}</td>
                        {% else %}
                        <td>{{ "-" }}</td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="static/js/d3.js"></script>
    <script src="static/js/moment.min.js"></script>
    <script src="static/js/moment-timezone-with-data.min.js"></script>
    <script src="static/js/tzscale.js"></script>
    <script src="static/js/metricsgraphics.js"></script>
    <script src="static/js/cratelevelgraphs.js"></script>
    <script>
        noisejson = {{ runs | tojson }}

        // list times as Sudbury time
        runtimes = []
        for (var i = 0 ; i < noisejson.length ; i++){
            runtime = moment(noisejson[i]['plot_time'], 'X')
            runtime = runtime.tz('Canada/Eastern')
            runtimes.push(runtime)
        }

        // sort the datas into a plottable representation
        noiseseries = []
        qhlseries = []
        for (var i = 0 ; i < 19 ; i++){
            noise = []
            qhl = []
            for (var j = 0 ; j < noisejson.length ; j++){
                runtime = runtimes[j]
                time = runtime.tz('Canada/Eastern').toDate()
                noise.push({'date':time,
                          'value':noisejson[j]['average_noise_crate'][i]})
                qhl.push({'date':time,
                          'value':noisejson[j]['average_qhl_hhp_crate'][i]})
            }
            noiseseries.push(noise)
            qhlseries.push(qhl)
        }

        // average across all crates...
        noiseavg = []
        qhlavg = []
        for (var i = 0 ; i < noisejson.length ; i++){
            noisesum = 0.0
            qhlsum = 0.0
            for (var j = 0 ; j < 19 ; j++){
                noisesum += noiseseries[j][i]['value']
                qhlsum += qhlseries[j][i]['value']
            }
            noisesum /= 19
            qhlsum /= 19

            noiseavg.push({'date':noiseseries[0][i]['date'],
                           'value':noisesum})
            qhlavg.push({'date':qhlseries[0][i]['date'],
                           'value':qhlsum})
        }
        noiseseries.splice(0, 0, noiseavg)
        qhlseries.splice(0, 0, qhlavg)

        backlinkbase = '{{ url_for("noise", limit=limit, offset=offset+limit, plotmask='plotmasktemplate') | safe }}'
        nextlinkbase = '{{ url_for("noise", limit=limit, offset=offset-limit, plotmask='plotmasktemplate') | safe }}'

        jQuery(document).ready(function($){
            availmask = (2<<20)-1
            // init plot manager/checkboxes
            mgr = mkPlotManager('checkboxes', availmask, {{plotmask}})
            mgr.refreshers.push(function(){
                $('#backlink').attr('href', backlinkbase.replace('plotmasktemplate', mgr.plotmask))
                $('#nextlink').attr('href', nextlinkbase.replace('plotmasktemplate', mgr.plotmask))
            })
            mkCrateLevelPlot('noise-graph', noiseseries, mgr,
                             'Average Noise Rate', '', 'Noise Rate [Hz]', 
                             2000.0)
            mkCrateLevelPlot('hhp-graph',   qhlseries,  mgr,
                             'Average QHL HHP', '', 'HHP [cap]',
                             100)
        })
    </script>
{% endblock %}
