{% extends "layout.html" %}
{% block title %}Pedestals{% endblock %}
{% block head %}
    {{ super() }}
<style>
h4 {display:inline;}
</style>
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <table class="table table-hover">
    </table>
    <div class="row">
        <div class="col-md-6" id="main">
            Crate/Card/Channel/Cell
            <select id="crate">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
            /
            <select id="slot">
                <option value="-1">All</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
            /
            <select id="channel">
                <option value="-1">All</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            /
            <select id="cell">
                <option value="-1">All</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
            </select>
        </div>
        <div class="col-md-6">
            <select id="charge">
                <option value="qhs_avg">QHS</option>
                <option value="qhl_avg">QHL</option>
                <option value="qlx_avg">QLX</option>
            </select>
            >
            <input style="margin-bottom: 30px; width: 80px;" type="text" id="qmax" value={{qmax}}></input>
            or <
            <input style="margin-bottom: 30px; width: 80px;" type="text" id="qmin" value={{qmin}}></input>
            Limit:
            <select id="limit">
                <option selected value="{{limit}}">{{limit}}</option>
                {% for n in [10, 25, 50, 100, 500] %}
                    {% if n != limit %}
                        <option value="{{n}}">{{n}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th> Crate </th>
                        <th> Slot </th>
                        <th> Channel </th>
                        <th> Cell </th>
                        <th> QHS </th>
                        <th> QHL </th>
                        <th> QLX </th>
                        <th> # Pedestals </th>
                    </tr>
                </thead>
                {% for crate, slot, channel, cell, qhs, qhl, qlx, npeds in bad_ped %}
                    <tr>
                        <td> {{ crate }} </td>
                        <td> {{ slot }} </td>
                        <td> {{ channel }} </td>
                        <td> {{ cell }} </td>
                        <td> {{ qhs }} </td>
                        <td> {{ qhl }} </td>
                        <td> {{ qlx }} </td>
                        <td> {{ npeds }} <td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/discriminator.js') }}"></script>    
    <script>

        if({{ qhs }} != 0){
          if({{ qhs|length }} > 800){
              d3.select("#main")
                  .datum({{ qhs }})
                  .call(pedestal_chart_log);
          }
          else{
              d3.select("#main")
                  .datum({{ qhs }})
                  .call(pedestal_chart);
          }
        }

        if (url_params.crate) {
            document.getElementById("crate").value = url_params.crate;
        }
        if (url_params.slot) {
            document.getElementById("slot").value = url_params.slot;
        }
        if (url_params.channel) {
            document.getElementById("channel").value = url_params.channel;
        }
        if (url_params.cell) {
            document.getElementById("cell").value = url_params.cell;
        }
        if (url_params.limit) {
            document.getElementById("limit").value = url_params.limit;
        }
        if (url_params.charge) {
            document.getElementById("charge").value = url_params.charge;
        }
        if (url_params.qmax) {
            document.getElementById("qmax").value = url_params.qmax;
        }
        if (url_params.qmin) {
            document.getElementById("qmin").value = url_params.qmin;
        }
        $("#crate, #slot, #channel, #cell, #limit, #charge, #qmax, #qmin").on("change", function() {
            var params = {};
            if (document.getElementById("crate").value != -1) {
                params['crate'] = document.getElementById("crate").value;
            }
            if (document.getElementById("slot").value != -1) {
                params['slot'] = document.getElementById("slot").value;
            }
            if (document.getElementById("channel").value != -1) {
                params['channel'] = document.getElementById("channel").value;
            }
            if (document.getElementById("cell").value != -1) {
                params['cell'] = document.getElementById("cell").value;
            }
            if (document.getElementById("limit").value != -1) {
                params['limit'] = document.getElementById("limit").value;
            }
            if (document.getElementById("charge").value != "") {
                params['charge'] = document.getElementById("charge").value;
            } 
            if (document.getElementById("qmax").value != -1) {
                params['qmax'] = document.getElementById("qmax").value;
            } 
            if (document.getElementById("qmin").value != -1) {
                params['qmin'] = document.getElementById("qmin").value;
            } 
            window.location.replace($SCRIPT_ROOT + "/pedestals?" + $.param(params));
        });


    </script>
{% endblock %}
