{% extends "layout.html" %}
{% block title %}Physics Data Quality {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <h1>Physics Data Quality</h1>
            <div class="col-md-10">
                {% if offset == 0 %}
                <button class="btn btn-outline-primary btn-lg" disabled>Back</button>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for("physicsdq", limit=limit, offset=offset+limit) }}">Next</a>
                {% else %}
                    {% if limit > offset %}
                    <a class="btn btn-outline-primary btn-lg" href="{{ url_for("physicsdq", limit=limit, offset=0) }}">Back</a>
                    {% else %}
                    <a class="btn btn-outline-primary btn-lg" href="{{ url_for("physicsdq", limit=limit, offset=offset-limit) }}">Back</a>
                    {% endif %}
                    <a class="btn btn-outline-primary btn-lg" href="{{ url_for("physicsdq", limit=limit, offset=offset+limit) }}">Next</a>
                {% endif %}
            </div>
            <div class="col-md-2 text-right">
                Runs per page:
                <select onchange="location=this.options[this.selectedIndex].value;">
                    {% for i, text in [(10,"10"), (25, "25"), (50, "50"), (100, "100")] %}
                        <option {% if limit == i %}selected="selected" {% endif %}value="{{url_for("physicsdq", limit=i, offset=offset)}}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Run</th>
                            <th>Trigger Processor</th>
                            <th>Time Processor</th>
                            <th>Run Processor</th>
                            <th>PMT Processor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(run_info|length) %}
                        {% if run_info[i] == -1%}
                        <tr class="bg-danger" >
                            <td>
                                {{physics_run_numbers[i]}}
                            </td>
                            <td colspan="10" style="text-align:center;">
                                <b> No DQ Present for Run. </b>
                            </td>
                        </tr> 
                        {% else %}
                        <tr>
                            <td><a href="{{ url_for('physicsdq_run_number',run_number=physics_run_numbers[i])}}">{{physics_run_numbers[i]}}</a></td>
                            {% if proc_results[i]["dqtriggerproc"] == 1 %}
                            <td>Pass</td>
                            {% else %}
                            <td><font color="red">Fail</font></td>
                            {% endif %}
                            {% if proc_results[i]["dqtimeproc"] == 1 %}
                            <td>Pass</td>
                            {% else %}
                            <td><font color="red">Fail</font></td>
                            {% endif %}
                            {% if proc_results[i]["dqrunproc"] == 1 %}
                            <td>Pass</td>
                            {% else %}
                            <td><font color="red">Fail</font></td>
                            {% endif %}
                            {% if proc_results[i]["dqpmtproc"] == 1 %}
                            <td>Pass</td>
                            {% else %}
                            <td><font color="red">Fail</font></td>
                            {% endif %}
                        </tr> 
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
