{% extends "layout.html" %}
{% block title %}Polling History{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
<style>
.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text {
    font-size: 1.5rem;
}
</style>
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            Crate/Card/Channel
            <select id="crate">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
            /
            <select id="slot">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
            /
            <select id="channel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            Yaxis Scale:
            <select id="yscale">
                <option value="linear">Linear</option>
                <option value="log">Log</option>
            </select>
            Run Range:
            <input type="text" id="starting_run" value={{starting_run}} style="width:80px;"> - 
            <input type="text" id="ending_run" value={{ending_run}} style="width:80px;"> 
            <button type=button onclick="history();">Update Plot</button>
        </div>
    </div>
    <div class="row">
        <h2> CMOS Rates </h2> 
        <div class="col-md-12" id="cmain">
            {% if not cdata %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <h2> Base Currents </h2>
        <div class="col-md-12" id="bmain">
            {% if not bdata %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script>
        if (url_params.crate) {
            document.getElementById("crate").value = url_params.crate;
        }
        if (url_params.slot) {
            document.getElementById("slot").value = url_params.slot;
        }
        if (url_params.channel) {
            document.getElementById("channel").value = url_params.channel;
        }
        if (url_params.yscale) {
            document.getElementById("yscale").value = url_params.yscale;
        }
        if (url_params.starting_run) {
            document.getElementById("starting_run").value = url_params.starting_run;
        }
        if (url_params.ending_run) {
            document.getElementById("ending_run").value = url_params.ending_run;
        }

        function get_scales(d) {

            var dates = new Array();
            for (var i=0; i < d.length; i++)
            {
                d[i]['timestamp'] = moment(d[i]['timestamp']).toDate();
                dates.push(d[i]['timestamp']);
            }
            var scale = tzscale().domain(dates).zone('America/Toronto');
            return scale;
        }

        var cdata = {{ cdata | safe }};
        var bdata = {{ bdata | safe }};

        var cscale = get_scales(cdata);
        var bscale = get_scales(bdata);

        var time_fmt = 'MMM Do YYYY';

        var params_cmos = {
            chart_type: 'point',
            area: false,
            data: cdata,
            interpolate: 'linear',
            width: $('#cmain').width(),
            height: url_params['height'] || 400,
            show_secondary_x_label: false,
            time_scale: cscale,
            xax_format: cscale.tickFormat(cdata.length),
            y_extended_ticks: true,
            y_scale_type: url_params.yscale,
            target: "#cmain",
            x_accessor:'timestamp',
            y_accessor:'cmos_rate',
            min_y_from_data: true,
            point_size: 4.0,
            x_mouseover: function(d, i) {
                return moment.tz(d['timestamp'], 'America/Toronto').format(time_fmt) + '  ';
            },
            y_mouseover: function(d, i) {
                return my_si_format(d['cmos_rate']);
            },
        };

        MG.data_graphic(params_cmos);

        var params_base = {
            chart_type: 'point',
            area: false,
            data: bdata,
            interpolate: 'linear',
            width: $('#bmain').width(),
            height: url_params['height'] || 400,
            show_secondary_x_label: false,
            time_scale: bscale,
            xax_format: bscale.tickFormat(bdata.length),
            y_extended_ticks: true,
            target: "#bmain",
            x_accessor:'timestamp',
            y_accessor:'base_current',
            min_y_from_data: true,
            point_size: 4.0,
            x_mouseover: function(d, i) {
                return moment.tz(d['timestamp'], 'America/Toronto').format(time_fmt) + '  ';
            },
        };

        MG.data_graphic(params_base);

        function history() {
            var params = {}
            params['crate'] = document.getElementById("crate").value;
            params['slot'] = document.getElementById("slot").value;
            params['channel'] = document.getElementById("channel").value;
            try {
                params['yscale'] = document.getElementById("yscale").value;
            } catch (e) {
                params['yscale'] = 'linear';
            }
            try {
                params['starting_run'] = document.getElementById("starting_run").value;
            } catch (e) {
                params['starting_run'] = 200000;
            }
            try {
                params['ending_run'] = document.getElementById("ending_run").value;
            } catch (e) {
                params['ending_run'] = 200000;
            }
            window.location.replace($SCRIPT_ROOT + "/polling_history?" + $.param(params));
        }

    </script>
{% endblock %}
