{% extends "layout.html" %}
{% block title %} Radon Monitor {% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-0">
      Start plot at (Y/M/D): <br>
      <select name="Year" id="year_low">
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option selected value="2021">2021</option>
        <option value="2022">2022</option>
      </select>
      <select id="month_low">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select id="day_low">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    </div>
    <div class="col-xs-3 col-xs-offset-0">
      End plot at (Y/M/D): <br>
      <select id="year_high">
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option selected value="2022">2022</option>
      </select>
      <select id="month_high">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select id="day_high">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    </div>
    <div class="col-xs-3 col-xs-offset-0">
      Y-axis range:
      <input type="text", id="ylow", value=1e-6 style="width:80px;"> - 
      <input type="text", id="yhigh", value=0.6 style="width:80px;"> <br>
      Y-axis scale:
      <select id="yscale">
        <option selected value="log">Log</option>
        <option value="linear">Linear</option>
      </select> <br>
    </div>
    <div class="col-xs-3 col-xs-offset-0">
      <button type=button onclick="history();">Update Plots</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="main">
      <br>
      <center> <h3> Radon Monitor Data </h3> </center> <br>
      {% if not pdata %}
        <h2 align="left"> No data available </h2>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script>
        if (url_params.month_low) {
            document.getElementById("month_low").value = url_params.month_low;
        }
        if (url_params.month_high) {
            document.getElementById("month_high").value = url_params.month_high;
        }
        if (url_params.year_low) {
            document.getElementById("year_low").value = url_params.year_low;
        }
        if (url_params.year_high) {
            document.getElementById("year_high").value = url_params.year_high;
        }
        if (url_params.day_low) {
            document.getElementById("day_low").value = url_params.day_low;
        }
        if (url_params.day_high) {
            document.getElementById("day_high").value = url_params.day_high;
        }
        if (url_params.ylow) {
            document.getElementById("ylow").value = url_params.ylow;
        }
        if (url_params.yhigh) {
            document.getElementById("yhigh").value = url_params.yhigh;
        }
        if (url_params.yscale) {
            document.getElementById("yscale").value = url_params.yscale;
        }

        var pdata = {{ pdata | safe }};

        var dates = new Array();
        var po210 = new Array();
        var po212 = new Array();
        var po214 = new Array();
        var po216 = new Array();
        var po218 = new Array();
        for (var i=0; i < pdata.length; i++)
        {
            date_ = moment(pdata[i]['timestamp']).toDate();
            dates.push(date_);
            po210.push({'date': date_, 'value': pdata[i]['po210_rate']});
            po212.push({'date': date_, 'value': pdata[i]['po212_rate']});
            po214.push({'date': date_, 'value': pdata[i]['po214_rate']});
            po216.push({'date': date_, 'value': pdata[i]['po216_rate']});
            po218.push({'date': date_, 'value': pdata[i]['po218_rate']});
        }
        var cscale = tzscale().domain(dates).zone('America/Toronto');

        var time_fmt = 'MMM Do YYYY';

        var dparams = {
            area: false,
            data: [po210, po212, po214, po216, po218],
            width: $('#main').width(),
            left: 100,
            right: 100,
            height: 500,
            target: "#main",
            time_scale: cscale,
            min_y: {{ ylow }}, 
            max_y: {{ yhigh }},
            y_scale_type: "{{ yscale }}",
            x_accessor:'date',
            y_accessor:'value',
            point_size: 4.0,
            y_label: "Rate (Hz)",
            x_label: "Date",
            decimals: 5,
            legend: ['210Po', '212Po', '214Po', '216Po', '218Po'],
            interpolate: 'linear',
            y_mouseover: function(d, i) {
                return 'Rate: ' + format_rate(d['value']) + ' (Hz)';
            },
        };

        MG.data_graphic(dparams);

        function history() {
            var params = {};
            try {
                params['month_low'] = document.getElementById("month_low").value;
            } catch (e) {
                params['month_low'] = 1;
            }
            try {
                params['month_high'] = document.getElementById("month_high").value;
            } catch (e) {
                params['month_high'] = 1;
            }
            try {
                params['year_low'] = document.getElementById("year_low").value;
            } catch (e) {
                params['year_low'] = 2021;
            }
            try {
                params['year_high'] = document.getElementById("year_high").value;
            } catch (e) {
                params['year_high'] = 2022;
            }
            try {
                params['day_low'] = document.getElementById("day_low").value;
            } catch (e) {
                params['day_low'] = 1;
            }
            try {
                params['day_high'] = document.getElementById("day_high").value;
            } catch (e) {
                params['day_high'] = 1;
            }
            try {
                params['ylow'] = document.getElementById("ylow").value;
            } catch (e) {
                params['ylow'] = 1e-6;
            }
            try {
                params['yhigh'] = document.getElementById("yhigh").value;
            } catch (e) {
                params['yhigh'] = 0.6;
            }
            try {
                params['yscale'] = document.getElementById("yscale").value;
            } catch (e) {
                params['yscale'] = "log";
            }
            window.location.replace($SCRIPT_ROOT + "/radon_monitor?" + $.param(params));
        }

    </script>
{% endblock %}
