{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %} Shifter Information  {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

<div class="container">
  <div class="row">
    <h1 align="center">Shifter Information</h1> <br>
    <table class="table">
      <tr>
          <th> <h3> Shifter </h3> </th>
          <th> <h3> Expert </h3> </th>
          <th> <h3> Supernova Expert </h3> </th>
      <tr>
      <tr>
        {% if shifter %} 
          <td> <h4> <font color='green'> {{ shifter }} </font> </h4> </td>
        {% else %}
          <td> <h4> <font color='red'> No shifter! </font> </h4> </td>
        {% endif %}
        {% if expert %}
          <td> <h4> <font color='green'> {{ expert }} </font> </h4> </td>
        {% else %}
          <td> <h4> <font color='red'> No expert! </font> </h4> </td>
        {% endif %}
        {% if supernova_expert %}
          <td> <h4> <font color='green'> {{ supernova_expert }} </font> </h4> </td>
        {% else %}
          <td> <h4> <font color='red'> No supernova expert! </font> </h4> </td>
        {% endif %}
      </tr>
    </table>
    <div class="alert alert-info"> If you are the current shifter, please fill out the below information at the start of your shift. If you are not the current shifter, do not fill in this form. After hitting Submit, make sure the current shifter and expert information about update properly. If multiple people are on shift, the shift leader should fill this out. This information will only be used for email and text alarm alerts. 
    </div>
    <form action="shifter_information" method="POST" role="form">
      <table class="table table-hover">
         <tr> 
           <td> {{ render_field(form.firstname) }} </td>
           <td> Required </td>
         </tr>
         <tr>
           <td> {{ render_field(form.lastname) }} </td>
           <td> Required </td>
         </tr>
         <tr>
           <td> {{ render_field(form.expert) }} </td>
           <td> Required, current on-call expert. </td> 
         </tr>
         <tr>
           <td> {{ render_field(form.supernova_expert) }} </td>
           <td> Required, current on-call supernova expert. </td> 
         </tr>
         <tr>
           <td> {{ render_field(form.email) }} </td>
           <td> Optional, leave empty to not receive email alerts.<br>
                Use full address (eg, username@aol.com) </td>
         </tr>
      </table>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
