{% extends "layout.html" %}
{% block title %}Vmon History{% endblock %}
{% block head %}
  {{ super() }}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}
</style>
{% endblock %}
{% block body %}
  {{ super() }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Crate/Card
      <select id="crate">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
      </select>
      /
      <select id="slot">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
      </select>
      <table class="table table-hover">
        <thead>
          <tr>
          {% for key in keys %}
            <th> {{ key }} </th>
          {% endfor %}
          </tr>
          {% for voltages in data %}
            <tr>
            {% for voltage in voltages %}
              <td> {{ voltage }} </td>
            {% endfor %}
            </tr>
          {% endfor %}
       </thead>
      </table> 
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
    <script>
        if (url_params.crate) {
            document.getElementById("crate").value = url_params.crate;
        }
        if (url_params.slot) {
            document.getElementById("slot").value = url_params.slot;
        }
        $("#crate, #slot").on("change", function() {
            var params = {};
            if (document.getElementById("crate").value != -1) {
                params['crate'] = document.getElementById("crate").value;
            }
            if (document.getElementById("slot").value != -1) {
                params['slot'] = document.getElementById("slot").value;
            }
            window.location.replace($SCRIPT_ROOT + "/vmon_history?" + $.param(params));
        });
    </script>
{% endblock %}

